# Directories
/.idea/
/.vscode/
/archive/
/dist/
.terraform/
node_modules/

# Files
/build.toml
/TODO
.env.local
.DS_Store
.terraform.lock.hcl
terraform.tfvars
terragrunt-local.json

# Patterns
.*.sw[op]
*-generated.tf
*.tgz
*.zip
